/* ***************** */
/* Text font import */
/* *************** */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Rubik', sans-serif
}


/* ************************** */
/* Header and footer styling */
/* ************************ */

/* Header */
header{
    background: url(../img/background.png);
    padding: 20px 0;
}

#logo{
    width: 260px;
    height: 260px;
}

.container{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19
}

/* Footer */

footer{
    text-align: center;
    background: url(../img/background.png);
    padding: 40px 0;
}

.img_footer{
    width: 250px;
    height: 250px;
    padding: 40px 0 0 0;
}

.copyright{
    color: white;
    font-size: 13px;
}

.assinatura{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    padding-top: 40px;
    font-size: 10px;
}

/* ******************* */
/* Index page styling */
/* ***************** */

.banner{
    width: 100%; 
 }
 
 main{
     background: linear-gradient(#FEFEFE, #888888);
 }
 
 .main-title {
     text-align: center;
     font-size: 2em;
     margin: 0 0 1em;
     clear: left;
 }
 
 .main-title:before{
     content: "[ ";
 }
 
 .main-title:after{
     content: " ]";
 }
 
 .main-content{
     padding: 3em 0;
     width: 940px;
     margin: 0 auto;
 }
 
 .main-content p{
     margin: 0 0 1em;
     text-align: justify;
 }
 
 .main-content strong{
     font-weight: bold;
 }
 
 .main-content em{
     font-style: italic;
 }
 
 .weights{
     width: 120px;
     float: left;
     margin: 0 20px 20px 0;
 }
 
 .map{
     padding: 3em o;  
 }
 
 .map-container{
     width: 940px;
     margin: 0 auto;
 }
 
 .map p{
     margin: 0 0 2em;
     text-align: center;
 }
 
 .benefits{
     padding: 3em 0;
 }
 
 .benefits-content{
     width: 640px;
     margin: 0 auto;
 }
 
 .benefits-list{
     width: 40%;
     display: inline-block;
     vertical-align: top;
 }
 
 .itens{
     line-height: 1.5;
 }
 
 .itens:first-child{
     font-weight: bold;
 }
 
 .itens:before{
     content: "◗";
 }
 
 .benefits-image{
     width: 60%;
     opacity: 1;
     transition: 400ms all;
     box-shadow: 10px 10px 10px #000;
 }
 
 .benefits-image:hover{
     opacity: 0.3;
 }
 
 .video{
     width: 560px;
     margin: 5em auto 0 auto;
 }


 /* ***************** */
 /* Plans page style */
 /* *************** */

.plans{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.plans li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 10px;
    transition: 1s all;
}

.plans li:hover{
    border-color: #947676;
    transform: scale(1.05);
}

.plans li:hover h2{
    font-size: 35px;
}

.plans li:active{
    border-color: #088c19;
}

.plans h2{
    font-size: 30px;
    font-weight: bold;
}

.icons{
    height: 140px;
    width: 140px;
}

.plan-description{
    font-size: 16px;
}

.price{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0 ;
}

/* ******************* */
/* Contact page style */
/* ***************** */

form{
    margin: 40px 0 0 40px;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

fieldset{
    margin: 20px;
}

.input-default{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    border-radius: 20px;
}

.checkbox{
    margin: 20px 0;
}

.send{
    width: 40%;
    padding: 15px 0;
    background-color: #bbbbbb;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin: 20px;
}

.send:hover{
    background-color: rgb(46, 42, 42);
    transform: scale(1.05);
}

/* ******************************************** */
/* Changes to responsiveness on mobile devices */
/* ****************************************** */

@media screen and (max-width: 480px) {

    /* Index page */
    .container, .main-content, .benefits-content, .video, .map-container {
        width: auto;
    }

    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .benefits-list, .benefits-image{
        width: 100%;
    }

    .main-content, .map-container, .video, .benefits-content{
        margin: 20px;
    }

    /* Plans page */

    .plans{
        width: auto;
        padding: 40px;
        display: flex;
        flex-direction: column;
    }

    .plans li{
        width: auto;
        margin: 20px;
    }

    /* Contact Page */

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 20px 0 20px;
        text-align: center;
    }
}